[submodule "1st_year/2nd_Semester/PCLP2/TTUYDM"]
	path = 1st_year/2nd_Semester/PCLP2/TTUYDM
	url = git@github.com:TheRealOne78/TTUYDM.git
[submodule "1st_year/2nd_Semester/PCLP2/TTYUDM"]
	path = 1st_year/2nd_Semester/PCLP2/TTUYDM
	url = https://github.com/TheRealOne78/TTUYDM.git
[submodule "2nd_year/1st_Semester/SDA/05_L_2024_11_08/Laborator-java-Spring-Boot"]
	path = 2nd_year/1st_Semester/SDA/05_L_2024_11_08/Laborator-java-Spring-Boot
	url = https://github.com/Patrascu-Nicolae-Adrian/Laborator-java-Spring-Boot
