#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-row {

}

.square {
    width: 30vw;
    height: 30vw;
    font-family: Arial, Sans Serif;
    font-size: 75px;
}
